# .NET
bin/
obj/
*.db
*.sqlite
*.sqlite3
*.pdb
*.user
*.vs
.vs/
*.log
*.vsconfig

# ASP.NET
appsettings.Development.json
appsettings.*.json

# Visual Studio Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular
dist/
.DS_Store
coverage/

# Docker
docker-compose.override.yml

# Logs
*.log

# Environment
.env
*.env
